<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
 <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/> 

</head>

<body>
  <nav class="navbar">
    <div class="logoru">
      <img class="logo" src="{{ url_for('static', filename='ru.ufrj.logo.jpg') }}" alt="logo do restaurante universitário">
      <h1 class="bandecoConnect">Bandeco Connect</h1>
    </div>
      <ul class="meuslinks">
        <li><a href="/">INÍCIO</a></li>
        <li><a href="/locais">LOCAIS</a></li>
        <li><a href="/cardapio">CARDÁPIO</a></li>
        <li><a href="/sobre">SOBRE NÓS</a></li>
        <li><a href="/logout">SAIR</a></li>
      </ul>
  </nav>
<h1>Welcome {{session["operadorLogado"].get_unidade()}}{{erro}}</h1>
<div class="contents">
    <h1 class="principal">Alunos registrados:</h1>
    <div class="nossoform">
      <table>
        <thead>
          <th>Nome</th>
          <th>Data de atendimento</th> 
          <th>Tipo</th> 
        </thead>
        <tbody>
          {% for atendimento in atendimentos %}
          <tr>
            <td>{{atendimento[0]}}</td>
            <td>{{atendimento[1]}}</td>
            <td>{{atendimento[2]}}</td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div><!--nossoform-->
<!--   adicionar variavel para o paragrafo de confirmação, de acordo com o input do form de cpf abaixo, da forma que acharem mais agradável esteticamente-->
  <br>
   <div class="nossoform">
    <form class="register" action="/regis_atendimento" method="POST">
      <label for="local">Selecione o tipo de atendimento:</label>
      <br>
      <select name="tipo" id="tipo">
        <option value="1">Fila Online</option>
        <option value="2">Fila Física</option>      
      </select> 
      <br><label for="cpf">CPF:</label>
      <input type="text" name="cpf" id="cpf" placeholder="Ex.: 000.000.000-00">
      
      <br><button type="submit" class="entrar-btn">registrar</button>
    </form>
   </div>
</div>
</body>
</html>