<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="all">
  <nav class="navbar">
    <div class="logoru">
      <img class="logo" src="{{ url_for('static', filename='ru.ufrj.logo.jpg') }}" alt="logo do restaurante universitário">
      <h1 class="bandecoConnect">Bandeco Connect</h1>
    </div>
      <ul class="meuslinks">
        <li><a href="/">INÍCIO</a></li>
        <li><a href="/locais">LOCAIS</a></li>
        <li><a href="/cardapio">CARDÁPIO</a></li>
        <li><a href="/sobre">SOBRE NÓS</a></li>
      </ul>
  </nav>

  <div class="contents">
  <h1 class="principal">Verifique o cardápio atualizado de cada RU</h1>
   <br>
  <h1 class="campus">Fundão:</h1>
  
  <div class="cardapios">
    <div class="caixinha">
      <h2 class="objetivo">Segunda</h2>
      <p>Entrada: {{comidinhas[0]}}</p>
      <p>Prato Principal: {{comidinhas[7]}}</p>
      <p>Prato Vegano: {{comidinhas[14]}}</p>
      <p>Guarnição: {{comidinhas[21]}}</p>
      <p>Acompanhamentos: {{comidinhas[28]}}</p>
      <p>Sobremesa: {{comidinhas[35]}}</p>
      
    </div>

    <div class="caixinha">
      <h2 class="objetivo">Terça</h2>
      <p>Entrada: {{comidinhas[1]}}</p>
      <p>Prato Principal: {{comidinhas[8]}}</p>
      <p>Prato Vegano: {{comidinhas[15]}}</p>
      <p>Guarnição: {{comidinhas[22]}}</p>
      <p>Acompanhamentos: {{comidinhas[29]}}</p>
      <p>Sobremesa: {{comidinhas[36]}}</p>
    </div>
    <div class="caixinha">
      <h2 class="objetivo">Quarta</h2>
      <p>Entrada: {{comidinhas[2]}}</p>
      <p>Prato Principal: {{comidinhas[9]}}</p>
      <p>Prato Vegano: {{comidinhas[16]}}</p>
      <p>Guarnição: {{comidinhas[23]}}</p>
      <p>Acompanhamentos: {{comidinhas[30]}}</p>
      <p>Sobremesa: {{comidinhas[37]}}</p>
    </div>
    <div class="caixinha">
      <h2 class="objetivo">Quinta</h2>
      <p>Entrada: {{comidinhas[3]}}</p>
      <p>Prato Principal: {{comidinhas[10]}}</p>
      <p>Prato Vegano: {{comidinhas[17]}}</p>
      <p>Guarnição: {{comidinhas[24]}}</p>
      <p>Acompanhamentos: {{comidinhas[31]}}</p>
      <p>Sobremesa: {{comidinhas[38]}}</p>
    </div>
    <div class="caixinha">
      <h2 class="objetivo">Sexta</h2>
      <p>Entrada: {{comidinhas[4]}}</p>
      <p>Prato Principal: {{comidinhas[17]}}</p>
      <p>Prato Vegano: {{comidinhas[24]}}</p>
      <p>Guarnição: {{comidinhas[31]}}</p>
      <p>Acompanhamentos: {{comidinhas[38]}}</p>
      <p>Sobremesa: {{comidinhas[45]}}</p>
    </div>

    <div class="caixinha">
      <h2 class="objetivo">Sábado</h2>
      <p>Entrada: {{comidinhas[5]}}</p>
      <p>Prato Principal: {{comidinhas[12]}}</p>
      <p>Prato Vegano: {{comidinhas[19]}}</p>
      <p>Guarnição: {{comidinhas[26]}}</p>
      <p>Acompanhamentos: {{comidinhas[33]}}</p>
      <p>Sobremesa: {{comidinhas[40]}}</p>

    </div>
    <div class="caixinha">
      <h2 class="objetivo">Domingo</h2>
      <p>Entrada: {{comidinhas[6]}}</p>
      <p>Prato Principal: {{comidinhas[13]}}</p>
      <p>Prato Vegano: {{comidinhas[20]}}</p>
      <p>Guarnição: {{comidinhas[27]}}</p>
      <p>Acompanhamentos: {{comidinhas[34]}}</p>
      <p>Sobremesa: {{comidinhas[41]}}</p>

    </div>
  </div>
</div>



  <script src="script.js"></script>

</body>

</html>