<html>
    <head>
        <title>Fila RU</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    </head>
    <body>
        <h1>Página principal</h1>
        <form method="POST" action="/login_aluno" style='display: {{popup}}'/>
            <label>Identificador</label>
            <input type="text" name="indetificador"/>
            <br>
            <label>Senha</label>
            <input type="text" name="senha"/>
            <br>
            <input type="submit">
        </form>
        <a href="/login">login</a>
    </body>
</html>