<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <title>TELA DO OPERADOR</title>
</head>

<body>
<div class="all">
  <nav class="navbar">
    <div class="logoru">
      <img class="logo" src="{{ url_for('static', filename='ru.ufrj.logo.jpg') }}" alt="logo do restaurante universitário">
      <h1 class="bandecoConnect">Bandeco Connect</h1>
    </div>
      <ul class="meuslinks">
        <li><a href="/">INÍCIO</a></li>
        <li><a href="/locais">LOCAIS</a></li>
        <li><a href="/cardapio">CARDÁPIO</a></li>
        <li><a href="/sobre">SOBRE NÓS</a></li>
        <li><a href="/">ALUNO</a></li>
      </ul>
  </nav>

  <div class="contents">
     <h1 class="principal">Acesse nossa rede:</h1>
     <div class="nossoform">
      <form class="login" action = "/login_operador" method="post">
        <label for="user">Usuário:</label>
        <input type="text" name="identificador" id="user" placeholder="CPF ou email">
        <br><label for="senha">Senha:</label>
        <input id="senha" type="password" name="senha" placeholder="********">
        <br><button class="post-btn" type="submit">entrar</button> 
      </form>
    </div>
  </div>
</div>

  <script src="script.js"></script>

</body>

</html>
