<html>
    <head>
        <title>Fila RU</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    </head>
    <body>
        <h1>Cadastro de aluno</h1>
        <form action="/regis_aluno" method="POST">
            <label>Nome</label>
            <input type="text" name="nome"/>
            <br>
            <label>Sobrenome</label>
            <input type="text" name="sobrenome"/>
            <br>
            <label>CPF</label>
            <input type="text" name="cpf"/>
            <br>
            <label>DRE</label>
            <input type="text" name="dre"/>
            <br>
            <label>Senha</label>
            <input type="text" name="senha"/>
            <br>
            <label>Repete senha</label>
            <input type="text" name="re-senha"/>
            <br>
            <input type="submit"/>
        </form><!---Formulário-->
    </body>
</html>