<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />

</head>
<div class="all">
  <nav class="navbar">
    <div class="logoru">
      <img class="logo" src="{{ url_for('static', filename='ru.ufrj.logo.jpg') }}" alt="logo do restaurante universitário">
      <h1 class="bandecoConnect">Bandeco Connect</h1>
    </div>
      <ul class="meuslinks">
        <li><a href="/">INÍCIO</a></li>
        <li><a href="/locais">LOCAIS</a></li>
        <li><a href="/cardapio">CARDÁPIO</a></li>
        <li><a href="/sobre">SOBRE NÓS</a></li>
      </ul>
  </nav>
    <br>
    <br>
    <br>

  <section class="contents">
    <div class="box">
  <h1 class="title">O Sistema Integrado de Alimentação</h1>
  <h2 class="objetivo"> O Sistema Integrado de Alimentação da UFRJ tem como objetivo oferecer alimentação de qualidade, equilibrada, e acessível de forma a favorecer a permanência dos estudantes no espaço universitário, permitindo-lhes dedicação integral aos estudos, sendo importante meio de combate à evasão escolar. Atualmente o sistema é composto por um Restaurante Universitário (RU) central e outros dois RUs satélites localizados no prédio da Faculdade de Letras e no Centro de Tecnologia, todos no Campus da Cidade Universitária, na ilha do Fundão, no Rio de Janeiro. Além disso, o sistema possui unidades nos outros Campus da Universidade Federal do Rio de Janeiro, contemplando a Praia Vermelha, O Instituto de Filosofia e Ciências Sociais (IFCS) e a unidade de Duque de Caxias.</h2>
    </div>
    
    <br>
    <br>
    <br>

    
    <div class="box">
  <h1 class="title">O Bandeco Connect</h1> 
  <h2 class="objetivo"> Feito por estudantes para estudantes, o Bandeco Connect é um sistema de agendamento do Restaurantes Universitários da UFRJ criado com o objetivo de otimizar o atendimento dos alunos e extinguir o longo tempo de espera em filas nos horários de refeição. </h2>
    </div>
  </section>
</div>
</html>
